body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('images/imaaage.jpeg') no-repeat center center fixed;
  background-size: cover;
}

#quiz-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 600px;
}

#title {
  font-size: 2em;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 8px;
}

#start-button,
#next-button,
#restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#start-button:hover,
#next-button:hover,
#restart-button:hover {
  background-color: #218838;
}

#question-container {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#options-container button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#options-container button:hover {
  background-color: #0056b3;
}

#result-container {
  font-size: 1.2em;
  margin-top: 20px;
}

#countdown {
  font-size: 1.2em;
  margin-top: 20px;
}